.cover__subtitle{
    max-width: 360px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin: 0;
    padding: 0;
    z-index: 2;
}



@media screen and (max-width:470px){
    .cover__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
}
