.intro__list-item{
    list-style-type: none;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}
/* @media screen and (max-width:1024px){
    .intro__list-item{
        padding: 0 48px 0px;
        
    }
} */

/* @media screen and (max-width:768px){
    .intro__list-item{
        padding: 0 24px 0;
    }
}
@media screen and (max-width:400px){
    .intro__list-item{
        padding: 0 16px 0;
    }
} */