.cover{
    /* padding: 0 0 90px 0; */
    background-image: url(../../images/cover__background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 740px;
    height: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
    /* object-fit: cover;
    object-position: center; */
}


@media screen and (max-width:1024px){
    .cover{
        min-height: 640px;
    }
}

@media screen and (max-width:768px){
    .cover{
        min-height: 480px;
    }
}

@media screen and (max-width:400px){
    .cover{
        min-height: 200px;
    }
}
