.cover__title{
    max-width: 560px;
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    margin: 0 0 32px 0;
    padding: 0;
    z-index: 2;
}

@media screen and (max-width:560px){
    .cover__title{
        font-size: 50px;
        line-height: 53px;
        margin: 0 0 16px 0;
    }
}

@media screen and (max-width:470px){
    .cover__title{
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}

