.place{
    margin: 0 0 70px 0;
    display: grid;
    grid-template-areas:
    'place__title place__website'
    'place__image place__text';
    grid-template-columns: 1fr 1fr;

}

@media screen and (max-width:767px){
    .place{
        grid-template-areas:
    'place__title'
    'place__website'
    'place__image '
    'place__text';
    grid-template-columns: 1fr;
    }
}
