.place__url-heading{
    font-size: 12px;
    line-height: 12px;
    color: #aaa;
    letter-spacing: 0.2em;
}
@media screen and (max-width:400px){
    .place__url-heading{
        margin: 0 0 12px 0;
    }
}