.place__website{
    display: flex;
    flex-direction: column;
    grid-area: place__website;
    margin: auto 0 50px 40px;
}
@media screen and (max-width:1280px){
    .place__website{
        margin: auto auto 48px 40px;
        max-width: 456px;
    }
}
@media screen and (max-width:1024px){
    .place__website{
        margin: auto 0 48px 10px;
    }
}
@media screen and (max-width:768px){
    .place__website{
        margin: auto 0 48px 28px;
    }
}

@media screen and (max-width:700px){
    .place__website{
        margin: 0 auto 32px 0;
    }
}

@media screen and (max-width:400px){
    .place__website{
        margin: auto 16px 32px;
    }
}