.place__website{
    display: flex;
    flex-direction: column;
    /* max-width: 460px; */
    /* width: 50%; */
    justify-content: flex-end;
    /* align-items: flex-end; */
    /* align-self: baseline; */
    width: 49%;
}